In [6]:
import pandas as pd

In [7]:
df=pd.read_csv('f1_dnf.csv')

In [8]:
df = df.dropna(subset=['laps'])
df = df.dropna(subset=['points'])
df = df.dropna(subset=['fastestLapSpeed'])
df = df.dropna(subset=['milliseconds'])
df

,resultId,raceId,year,round,grid,positionOrder,points,laps,milliseconds,fastestLap,...,circuitRef,circuitId,name_y,location,country,lat,lng,alt,date,target_finish
1,11565,483,1981,1,23,21,0.0,16.0,\N,\N,...,long_beach,43,McLaren,California,USA,33.7651,-118.18900,12,1981-03-15,0
2,18661,772,1958,8,0,26,0.0,0.0,\N,\N,...,nurburgring,20,Maserati,Nürburg,Germany,50.3356,6.94750,578,1958-08-03,0
3,25121,1058,2021,8,19,16,0.0,69.0,\N,57,...,red_bull_ring,70,Haas F1 Team,Spielberg,Austria,47.2197,14.76470,678,2021-06-27,0
4,8863,383,1988,12,0,30,0.0,0.0,\N,\N,...,monza,14,Euro Brun,Monza,Italy,45.6156,9.28111,162,1988-09-11,0
5,24317,1015,2019,6,5,14,0.0,77.0,\N,61,...,monaco,6,Haas F1 Team,Monte-Carlo,Monaco,43.7347,7.42056,7,2019-05-26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9990,15818,640,1971,9,3,9,0.0,53.0,\N,\N,...,monza,14,BRM,Monza,Italy,45.6156,9.28111,162,1971-09-05,0
9992,20861,844,2011,4,12,13,0.0,57.0,\N,43,...,istanbul,5,Force India,Istanbul,Turkey,40.9517,29.40500,130,2011-05-08,0
9995,1128,70,2006,18,22,12,0.0,70.0,\N,62,...,interlagos,18,Red Bull,São Paulo,Brazil,-23.7036,-46.69970,785,2006-10-22,0
9996,793,55,2006,3,16,7,2.0,57.0,5719770,32,...,albert_park,1,Honda,Melbourne,Australia,-37.8497,144.96800,10,2006-04-02,1
9997,23131,957,2016,10,16,17,0.0,49.0,\N,43,...,silverstone,9,Renault,Silverstone,UK,52.0786,-1.01694,153,2016-07-10,0

In [9]:
y=df['laps']
y

1       16.0
2        0.0
3       69.0
4        0.0
5       77.0
        ...
9990    53.0
9992    57.0
9995    70.0
9996    57.0
9997    49.0
Name: laps, Length: 6644, dtype: float64

In [10]:
x=df.drop('laps',axis=1)
x

,resultId,raceId,year,round,grid,positionOrder,points,milliseconds,fastestLap,rank,...,circuitRef,circuitId,name_y,location,country,lat,lng,alt,date,target_finish
1,11565,483,1981,1,23,21,0.0,\N,\N,\N,...,long_beach,43,McLaren,California,USA,33.7651,-118.18900,12,1981-03-15,0
2,18661,772,1958,8,0,26,0.0,\N,\N,\N,...,nurburgring,20,Maserati,Nürburg,Germany,50.3356,6.94750,578,1958-08-03,0
3,25121,1058,2021,8,19,16,0.0,\N,57,16,...,red_bull_ring,70,Haas F1 Team,Spielberg,Austria,47.2197,14.76470,678,2021-06-27,0
4,8863,383,1988,12,0,30,0.0,\N,\N,\N,...,monza,14,Euro Brun,Monza,Italy,45.6156,9.28111,162,1988-09-11,0
5,24317,1015,2019,6,5,14,0.0,\N,61,17,...,monaco,6,Haas F1 Team,Monte-Carlo,Monaco,43.7347,7.42056,7,2019-05-26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9990,15818,640,1971,9,3,9,0.0,\N,\N,\N,...,monza,14,BRM,Monza,Italy,45.6156,9.28111,162,1971-09-05,0
9992,20861,844,2011,4,12,13,0.0,\N,43,16,...,istanbul,5,Force India,Istanbul,Turkey,40.9517,29.40500,130,2011-05-08,0
9995,1128,70,2006,18,22,12,0.0,\N,62,11,...,interlagos,18,Red Bull,São Paulo,Brazil,-23.7036,-46.69970,785,2006-10-22,0
9996,793,55,2006,3,16,7,2.0,5719770,32,6,...,albert_park,1,Honda,Melbourne,Australia,-37.8497,144.96800,10,2006-04-02,1
9997,23131,957,2016,10,16,17,0.0,\N,43,12,...,silverstone,9,Renault,Silverstone,UK,52.0786,-1.01694,153,2016-07-10,0

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)

In [12]:
x_train

,resultId,raceId,year,round,grid,positionOrder,points,milliseconds,fastestLap,rank,...,circuitRef,circuitId,name_y,location,country,lat,lng,alt,date,target_finish
1742,5345,264,1994,8,25,15,0.0,\N,\N,\N,...,silverstone,9,Simtek,Silverstone,UK,52.0786,-1.01694,153,1994-07-10,0
642,12636,521,1979,10,13,23,0.0,\N,\N,\N,...,hockenheimring,10,Team Lotus,Hockenheim,Germany,49.3278,8.56583,103,1979-07-29,0
1892,21770,882,2013,3,18,15,0.0,\N,35,15,...,shanghai,17,Marussia,Shanghai,China,31.3389,121.22000,5,2013-04-14,0
4086,24571,1028,2019,19,9,6,8.0,5726019,28,14,...,americas,69,Renault,Austin,USA,30.1328,-97.64110,161,2019-11-03,1
5001,12450,514,1979,3,15,22,0.0,\N,\N,\N,...,kyalami,30,Shadow,Midrand,South Africa,-25.9894,28.07670,1460,1979-03-03,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9063,3365,177,1999,3,1,18,0.0,\N,\N,\N,...,imola,21,McLaren,Imola,Italy,44.3439,11.71670,37,1999-05-02,0
124,17224,710,1964,2,18,13,0.0,\N,\N,\N,...,zandvoort,39,Brabham-BRM,Zandvoort,Netherlands,52.3888,4.54092,6,1964-05-24,0
5890,26741,1143,2024,23,9,17,0.0,\N,31,12,...,losail,78,Red Bull,Al Daayen,Qatar,25.4900,51.45420,12,2024-12-01,0
8955,24879,1043,2020,13,16,14,0.0,5345365,45,17,...,imola,21,Haas F1 Team,Imola,Italy,44.3439,11.71670,37,2020-11-01,1
8470,25922,1101,2023,4,0,17,0.0,\N,34,18,...,baku,73,Haas F1 Team,Baku,Azerbaijan,40.3725,49.85330,-7,2023-04-30,0

In [13]:
x_test

,resultId,raceId,year,round,grid,positionOrder,points,milliseconds,fastestLap,rank,...,circuitRef,circuitId,name_y,location,country,lat,lng,alt,date,target_finish
5709,16397,667,1968,1,5,18,0.0,\N,\N,\N,...,kyalami,30,Brabham-Repco,Midrand,South Africa,-25.9894,28.07670,1460,1968-01-01,0
3208,25042,1055,2021,4,10,17,0.0,\N,63,6,...,catalunya,4,Alpine F1 Team,Montmeló,Spain,41.5700,2.26111,109,2021-05-09,0
434,23011,952,2016,5,9,7,6.0,6179555,37,15,...,catalunya,4,Force India,Montmeló,Spain,41.5700,2.26111,109,2016-05-15,1
5238,8089,361,1989,6,7,23,0.0,\N,\N,\N,...,villeneuve,7,Brabham,Montreal,Canada,45.5000,-73.52280,13,1989-06-18,0
1282,21342,864,2012,5,16,15,0.0,\N,47,11,...,catalunya,4,Ferrari,Montmeló,Spain,41.5700,2.26111,109,2012-05-13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8750,19104,794,1955,3,33,4,3.0,14258440,\N,\N,...,indianapolis,19,Kuzma,Indianapolis,USA,39.7950,-86.23470,223,1955-05-30,1
5305,3541,185,1999,11,9,18,0.0,\N,\N,\N,...,hungaroring,11,BAR,Budapest,Hungary,47.5789,19.24860,264,1999-08-15,0
5030,4766,241,1995,2,17,20,0.0,\N,\N,\N,...,galvez,25,McLaren,Buenos Aires,Argentina,-34.6943,-58.45930,8,1995-04-09,0
8213,23776,988,2017,20,20,15,0.0,\N,52,18,...,yas_marina,24,Toro Rosso,Abu Dhabi,UAE,24.4672,54.60310,3,2017-11-26,0
847,9941,424,1985,5,22,20,0.0,\N,\N,\N,...,villeneuve,7,Osella,Montreal,Canada,45.5000,-73.52280,13,1985-06-16,0

In [14]:
df['laps'] = df['laps'].astype(int)

print(x_train.dtypes)
print(y_train.dtypes)

resultId             int64
raceId               int64
year                 int64
round                int64
grid                 int64
positionOrder        int64
points             float64
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
driverRef           object
surname             object
forename            object
dob                 object
nationality_x       object
constructorRef      object
name                object
nationality_y       object
circuitRef          object
circuitId            int64
name_y              object
location            object
country             object
lat                float64
lng                float64
alt                  int64
date                object
target_finish        int64
dtype: object
float64

In [26]:
x_train.map(lambda x: x == '\\N').sum()



import numpy as np
x_train = x_train.replace('\\N', np.nan)
y_train = y_train.replace('\\N', np.nan)

x_train = x_train.apply(pd.to_numeric, errors='coerce')
y_train = pd.to_numeric(y_train, errors='coerce')

In [29]:
x_train = x_train.dropna()
y_train = y_train.loc[x_train.index]

x_test = x_test.dropna()
y_test = y_test.loc[x_test.index]

In [30]:
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)

ValueError: Found array with 0 sample(s) (shape=(0, 30)) while a minimum of 1 is required by LinearRegression.